/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 110vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75)), url(bck_imgs/back6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;    
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
}

.page__title {
    font-size: 2rem;    
    text-align: center;
    margin-bottom: 0.5vh;
    padding-top: 25px;
    font-weight: 800;
}

.page__date {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

#drop-area {
    line-height: 480px;
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    align-content: center;
    border: 4px dashed #ccc;
    border-radius: 10px;        
    height: 500px;      
    width: 500px;  
    margin: auto; 
    background-color: rgba(125, 133, 136, 0.7);            
}

#drop-area img {
    /*
    See https://www.w3schools.com/css/css3_object-fit.asp
    */
    padding-top: 5px;
    position: relative;    
    width: 450px;
    height: 99%;
    object-fit: contain;
    font-style: italic;
}


#drop-area:hover {
    background-color: rgba(95, 100, 102, 0.7)
}

#drop-area.highlight {
    border-color: rgb(37, 40, 207);
}


.button_choose_picture {
    display: inline-block;
    padding: 10px;    
    cursor: pointer;
    border-radius: 5px;    
    margin-top: 1.5vh;
    bottom: 2vh;
    /*
    background: #ccc;
    border: 1px solid #ccc;
    */
    background: rgb(131, 128, 128);
    border: 1px solid rgb(131, 128, 128);
}

.button_choose_picture:hover {
    /*
    background: rgb(161, 156, 156);
    border: rgb(161, 156, 156);
    */
    background: rgb(94, 90, 90);
    border: rgb(94, 90, 90);
}

#fileElem {
    display: none;
}


/**********************************************
*** BOTTOM PART
**********************************************/


/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 3px solid #ececec;
    background-color: #ececec;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add_water_type {
    width: 120px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    height: 44px;
    font-size: 14px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__length,
.add__weight {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    width: 200px;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

.btn_check_species {
    font-size: 18px;
    background: #28B9B5;    
    border-radius: 5px;
    border: 1px solid #ccc;  
    color: rgb(250, 250, 250);
    padding: 12px 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 30px;
}
.btn_check_species:hover {
    background: rgb(30, 141, 137);
}

.btn_check_species:active { transform: translateY(2px); }

.add_water_type:focus,
.add__length:focus,
.add__weight:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }


/* Temporary message */
#temporary_message {
    color: rgb(240, 40, 40);
    text-align: center;
    margin: 20px;
    font-weight: 1000;
}

/***** LISTS *****/

.container_predictions {    
    width: 95vw;
    height: 1100px;
    align-content: center;
    text-align: center; 
    margin-top: 40px;
    margin: auto;
}

.pred_box {       
    align-content: center;
    vertical-align: middle;  
    position: relative;
    width: 90vw; 
    height: 330px;     
    margin: auto;
    margin-top: 40px;
    text-align: center;          
    box-shadow: 0 0 6px 2px #28B9B5;  
} 
.pred_text {
    float: left;
    margin: auto;
    width: 40vw;
}

.predicted_fish_title {    
    color: #28B9B5;    
    font-size: 1.4rem;
    font-weight: 1000;
}

.predicted_fish_prob {
    color: #28B9B5;
    font-size: 1.05rem;
    margin-bottom: 15px;
}

.pred_table {
    width: 100%;
}

th, td {    
    padding-bottom: 10px ;
    vertical-align: top;
    font-size: 1.1rem;   
}
td:first-child {
    padding-right: 5%;
    padding-left: 3%;
    font-weight: bold;
    text-align: left;
    color: #28B9B5;   
    width: 40%; 
}

td:last-child {
    text-align: right;
    width: 49%;
    padding-right: 3%;
}

table {
    padding-bottom: 1px;    
}

#fish_image_ref {
    width: 35vw;
    vertical-align: middle; 
    align-content: center;    
    align-items: center;           
    position: relative;
    margin: auto;
}

.fish_image_ref:hover {
    cursor: pointer;
}

#pred_img_first,
#pred_img_second,
#pred_img_third {   
    vertical-align: middle;  
    margin: auto;  
    width: 32vw;
    height: 230px;                  
    object-fit: cover; 
    box-shadow: 0 0 4px 1px #28B9B5;      
    margin-top: 50px;
    /*align-content: flex-end;     */
} 


.copyright {
    position: relative;
    color: #968B87;
    font-size: 1.0rem;
    font-weight: 500;
    margin-top: auto; 
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    margin-right: 2vw;
    text-align: right;
}